<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="login-container">
        <h1>Login</h1>
        <form id="login-form">
            <input type="text" id="username" placeholder="Username" required autocomplete="off">
            <input type="password" id="password" placeholder="Password" required autocomplete="off">
            <button type="submit">Login</button>
        </form>
        <p id="error-message"></p>
        <a href="/recover-password" style="display: block; margin-top: 10px; text-decoration: none; color: #007bff;">
            Recover Password
        </a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>