<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="Search-account-container">
        <h1>Search Account</h1>
        <form id="search-account">
            <input type="text" id="studentId" placeholder="Student ID" required autocomplete="off">
            <input type="text" id="studentName" placeholder="Student Name" required autocomplete="off">       
            <button type="submit">Search</button>
        </form>
        <p id="error-message"></p>           
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
